
<ul>
  <a href=""><li>Home </li> </a>
  <a href=""><li>Inserir gasto </li> </a>
  <a href=""><li>Inserir aluno </li> </a>
  <a href=""><li>Inserir turma </li> </a>
  <a href=""><li>Deslogar </li> </a>
</ul>

